{{!-- <section class="card">
  <div class="card-body">
    <p></p>
    <h1>Dalias pasteleria & panaderia</h1>
    <img
        class="rounded-circle mx-auto d-block logo m-4"
        src="/img/dalias.png"
        alt="Logo"
      />
  
    <p class="card-body">
      Dalias, es una empresa con historia familiar, tradición y hogar, empieza en el 2017 fundada de dos hermanos panaderos, con el propósito de brindar buenos y deliciosos productos con excelente calidad y un buen servicio, haciendo sentir en casa a cada persona que entra en las instalaciones.
    </p>
    <h2 class="card-body"> <strong> Objetivo</strong></h2>
    <p class="card-body">
      El objetivo es formar un imperio o cadena de panaderías que brinden un servicio excelente agradable y de buena calidad bajo la premisa, hacer sentir al cliente como en casa.
    </p>
    <h2 class="card-body"> <strong>Misión</strong></h2>
    <p class="card-body">
      Se propone satisfacer las necesidades locales, produciendo empleo para apoyar a las personas y brindarles una estabilidad laboral y producir los mejores productos de panadería, pastelería y cocina de sogamoso, siendo así una empresa líder y destacada en el negocio de las panaderías.
    </p>
    <h2 class="card-body"> <strong>Visión</strong></h2>
    <p class="card-body">
      Para el año 2030 Dalias quiere llegar a ser  una cadena de panaderías modelo, una empresa líder que destaca la experiencia de sus clientes en el lugar empleando colaboradores y cuando un sentido de pertenencia  y afecto en la comunidad en general.
    </p>
  </div>  
</section> --}}

<div class="container_about">
  <section class="about">
    
      <h1>Dalias pasteleria & panaderia</h1>
      <img
          class="rounded-circle mx-auto d-block logo m-4"
          src="/img/dalias.png"
          alt="Logo"
        />
    
      <p class="card-body">
        Dalias, es una empresa con historia familiar, tradición y hogar, empieza en el 2017 fundada de dos hermanos panaderos, con el propósito de brindar buenos y deliciosos productos con excelente calidad y un buen servicio, haciendo sentir en casa a cada persona que entra en las instalaciones.
      </p>
      <h2 class="card-body"> <strong> Objetivo</strong></h2>
      <p class="card-body">
        El objetivo es formar un imperio o cadena de panaderías que brinden un servicio excelente agradable y de buena calidad bajo la premisa, hacer sentir al cliente como en casa.
      </p>
      <h2 class="card-body"> <strong>Misión</strong></h2>
      <p class="card-body">
        Se propone satisfacer las necesidades locales, produciendo empleo para apoyar a las personas y brindarles una estabilidad laboral y producir los mejores productos de panadería, pastelería y cocina de sogamoso, siendo así una empresa líder y destacada en el negocio de las panaderías.
      </p>
      <h2 class="card-body"> <strong>Visión</strong></h2>
      <p class="card-body">
        Para el año 2030 Dalias quiere llegar a ser  una cadena de panaderías modelo, una empresa líder que destaca la experiencia de sus clientes en el lugar empleando colaboradores y cuando un sentido de pertenencia  y afecto en la comunidad en general.
      </p>
      
  </section>
</div>