{{!-- <div class="card card-body p-5 mt-4">
  <h1 class="display-4">¡Bienvenid@ a la aplicación de tickes!</h1>
  <p class="lead">Una aplicación para gestionar tickes de los clientes desarrollada con Nodejs, Express,
    Tecnologías Mongodb y Javascript</p>
  <hr class="my-4" />
  <p>Esta aplicación se creó para la pasteleria y panaderia Dalias ubicada en la ciudad de Sogamoso-Boyacá-Colombia
    ¿Aun no tienes cuenta? !Registrate, es totalmente gratis!
  </p>
  <p></p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Crear cuenta</a>
  </div>
</div> --}}
<div class="container_inicio">
  <div class="inicio">
    <section class="text-inicio"> 
        <h1>¡Bienvenid@s a la aplicación de tickes!</h1>
        <p >Una aplicación para gestionar tickes de los clientes desarrollada con Nodejs, Express,
        Tecnologías Mongodb y Javascript</p>
        <hr>
        <p>Esta aplicación se creó para la pasteleria y panaderia Dalias ubicada en la ciudad de Sogamoso-Boyacá-Colombia
        ¿Aun no tienes cuenta? !Registrate, es totalmente gratis!
        </p>
      
        <a href="/auth/signup"class="btn-inicio btn__text"  >
        crear cuenta</a>
    
        
    </section>
  </div>
</div>