{{!-- <div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5 bg-black text-white rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 text-white" style="font-style: inherit">
          !Hola de nuevo!
        </h1>
        <p style="font-style: initial;">!Nos alegramos de volver a verte!</p>
        
      </div>
      
      <img
        class="rounded-circle mx-auto d-block logo m-4"
        src="/img/dalias.png"
        alt="Logo"
      />
      <div class="card-body">
        <form action="/auth/signin" method="POST">
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control bg-dark text-white"
              name="email"
              placeholder="Email"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="passswore">Contrase単a:</label>
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="password"
              placeholder="Password"
            />
          </div>
          <button class="btn btn-success btn-block">
            Iniciar sesion
          </button>
        </form>
      </div>

      <p class="text-center">多No tienes cuenta? <a href="/auth/signup" class="text-info">Registrate</a></p>
    </div>
  </div>
</div> --}}

<div class="container-sign">
  <div class="sign">
    
      <div class="superior">
        <h1>
          !Hola de nuevo!
        </h1>
        <p style="font-style: initial;">!Nos alegramos de volver a verte!</p>
        
      </div>
      
      <img
        class=""
        src="/img/dalias.png"
        alt="Logo"
      />
      <div class="label-sign">
        <form action="/auth/signin" method="POST">
          <div class="">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              
            />
          </div>
          <div class="">
            <label for="passswore">Contrase単a:</label>
            <input
              type="password"
              class="form-control "
              name="password"
              placeholder="Password"
            />
          </div>
          <button class="btn ">
            Iniciar sesion
          </button>
        </form>
      </div>

      <p>多No tienes cuenta? 
        <a href="/auth/signup" class="text-info">Registrate</a></p>
  </div>
</div>